extends base

//prepend content
    p before content

//append content
    p after content


// just 'block' will replace the block of any parent
block content
    - site.posts.each(function(post) {
        +stub(post)
    - })

    include _partial/stub
