extends base

//prepend content
    p before content

//append content
    p after content


// just 'block' will replace the block of any parent
block content
    p Hello Dad!
    //- each post in site.posts
        article
            h2
                a(href=config.root + post.path)= post.title
            != post.content
