include _partial/stub
include _partial/display_posts

extends base

//prepend content
    p before content

//append content
    p after content


// just 'block' will replace the block of any parent
block content
    +display_posts(site.posts)
