@import "../../../../node_modules/stylus-media-queries/index.styl";

//header-height = 4em
reponsive-width-threshold = 30em
universal_margin = 0.5em
meta_text_size = 0.8em

grey_colour = #cccccc   
grey_colour_shadow = #bbbbbb

shortcut_colour_1 = #000000
shortcut_colour_2 = #000010 
shortcut_colour_3 = #000020 
shortcut_colour_4 = #000030 
shortcut_colour_5 = #000040 

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
    margin 0 !important
    padding 0 !important
    font-family Abel

ul, li 
    margin 0
    padding 0

a
    text-decoration none
    color black

h1, h2, h3, h4, h5, p
    margin 0

#background
    position fixed
    z-index -1
    width 100%
    height 100%
    background grey
    background-attachment fixed

#background img
    position absolute
    z-index -2
    width 100%
    height 100%

#animated_header
    width 100%

#animated_header .box_in_border
    margin-top 0
    margin-bottom 0

#animated_header span
    color black

#animated_header h2
    color grey_colour
    margin 0
    padding 0
    text-align right

.spacer
    height universal_margin

.box_in
    background none

.box_in_border
    margin universal_margin
    padding universal_margin
    padding-top 0
    padding-bottom 0
    box-shadow 3px 3px 4px -1px rgba(0,0,0,0.75)
    background white

.post_title h2
    text-shadow 1px 1px grey_colour_shadow

.post_title span
    text-shadow none

section .box_in_border
    margin-left 0

section
    @media screen and (min-width: reponsive-width-threshold)
        display inline
        float left
        width 75%

aside
    @media screen and (min-width: reponsive-width-threshold)
        display inline
        float left
        width 25%

#shortcut_bar li:nth-child(1) span a
    background shortcut_colour_1

#shortcut_bar li:nth-child(2) span a
    background shortcut_colour_2 

#shortcut_bar li:nth-child(3) span a
    background shortcut_colour_3 

#shortcut_bar li:nth-child(4) span a
    background shortcut_colour_4 

#shortcut_bar li:nth-child(5) span a
    background shortcut_colour_5 

#shortcut_bar li
    list-style none
    margin-top universal_margin
    @media screen and (max-width: reponsive-width-threshold)
        margin 0
        float left
        width 20%

#shortcut_bar a
    position relative
    display block
    height 100%
    width 100%
    text-decoration none
    font-weight bolder
    border-radius(30px)

#shortcut_bar a h2
    margin 0
    text-align right
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.tags li
    list-style none
    margin 0
    margin-left universal_margin
    float right

.tags li a
    color grey_colour

.tags li a p
    margin 0
    font-size meta_text_size

article h2 span
    float right
    color grey_colour

.tagline
    margin-top universal_margin

.content
    clear both

.content h2
    margin-top 0

.content h1, h3, p
    margin-top universal_margin

.content a
    text-decoration underline

.img_container
    position relative
    height 10em
    width 10em
    overflow hidden
    display inline-block
    box-shadow 1px 1px 2px -1px rgba(0,0,0,0.75)

.img_container img
    position absolute
    top -9999px
    bottom -9999px
    left -9999px
    right -9999px
    margin auto
    height 100% !important
    width auto !important

.gallery
    margin-top universal_margin

.gallery .img_container
    margin 0
    margin-right universal_margin

.meta
    color grey_colour
    font-size meta_text_size

.game_meta
    color black

.game_meta p
    margin 0

.game_meta span
    margin-left universal_margin
    margin-right universal_margin
    color grey_colour

.tagline h4
    font-size 2em
    margin 0

.links
    margin-top universal_margin

.links ul
    margin-left universal_margin
    padding-left universal_margin

.links li
    list-style-type circle

.links h4
    font-size 1.2em
    margin 0

footer
    position fixed
    background white
    width 100%
    height 2em
    bottom 0

footer ul
    float left
    list-style-type none

footer li
    float left
    list-style-type none
    padding-right 1em
