doctype html
block vars

html(lang='en')
    head
        include _partial/head
    body
        include _partial/animated_header
        .box_in
            block content
        .box_in
            include _partial/shortcut_bar
    footer 
        include _partial/footer

