doctype html
block vars

html(lang='en')
    head
        include _partial/head
    body
        header Thi sis a header
        div.div_style this is a div
        block this is a block
            section this is a section
            p#p_style this is a p
            p this is a p
            p this is a p
            p this is a p
            p this is a p p
            footer this is a photon

            block content

