mixin game_footer(game)
    .links
        - if (game.links != null) {
            - game.links.forEach(function (link) {
                h4
                    a(href=link.url)= link.description
            - })
        - }
