mixin game_footer(game)
    .links
        - if (game.links != null) {
            ul
                - game.links.forEach(function (link) {
                    li
                        h4
                            a(href=link.url)= link.description
                - })
        - }
