meta(charset='utf-8')
link(rel='stylesheet', href=config.root + 'css/style.css')
link(href='https://fonts.googleapis.com/css?family=Abel', rel='stylesheet', type='text/css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js')
script(src='http://code.jquery.com/jquery-latest.min.js')
script(src=config.root + 'js/background_loader.js')
script(src=config.root + 'js/animated_background.js')

include fancybox.jade
include ga.jade
