nav#shortcut_bar
    ul
        - site.categories.each(function(category) {
            li
                .box_in_border
                    a(href=config.root + category.path)
                        h2= category.name
        - })
