nav#shortcut_bar
    ul
        - site.categories.each(function(category) {
            li
                span
                    a(href=config.root + category.path)
                        p= category.name
        - })
