include shortcut
include social_button

nav#shortcut_bar
    ul
        +shortcut('Everything', '/')
        - site.categories.each(function(category) {
            +shortcut(category.name, config.root + category.path)
        - })
        li
            .box_in_border
                .social_buttons
                    +social_button('twitter', 'http://twitter.com/chrismcmath')
                    +social_button('google', 'http://gplus.to/chrismcmath')
                    +social_button('facebook', 'http://www.facebook.com/chris.mcmath')
                    +social_button('linkedin', 'https://www.linkedin.com/in/chrismcmath')
