include blog_header
include game_header
include game_footer
include tool_header

mixin stub(post)
    article
        .box_in_border
            h2
                a(href=config.root + post.path)= post.title
                    - post.categories.each(function(category) {
                        span= category.name
                    - })
            .meta
                - post.categories.each(function(category) {
                    - if (category.name == "Games") {
                        +game_header(post)
                    - } else if (category.name == "Tools") {
                        +tool_header(post)
                    - } else {
                        +blog_header(post)
                    - }
                - })
            .content
                != post.content
            .footer
                - post.categories.each(function(category) {
                    - if (category.name == "Games") {
                        +game_footer(post)
                    - }
                - })
            ul.tags
                - post.tags.each(function(tag) {
                    li
                        span
                            a(href=url_for(tag.path))
                                p= '#' + tag.name
                - })
            .content
